.footer {
    display: flex;
    width: inherit;
    background-color: #161619;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

.logo {
    width: 70px;
    padding: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(63%) hue-rotate(277deg) brightness(112%) contrast(80%);
}