.info {
    margin: 0;
}

.name, .title, .website {
    margin: 0;
    padding: 5px;
}

.name {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.title {
    color: #F3BF99;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.website {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.outsideLinks {
    margin: 0;
    display: flex;
    align-items: center;
}

.outsideLinks > a:link {
    text-decoration: none;
    margin: 0 auto;
}

.emailLink, .linkedinLink {
    margin: 20px 10px;
    padding: 9px 13px 9px 11px;
    width: 160px;
    height: 50px;
    justify-content: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.linkedinLink {
    background-color: #5093E2;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
}

.linkedinLogo , .mail {
    width: 50px;
    padding: 10px;
}

.emailLink {
    color: #374151;
    font-weight: 500;
    font-size: 14px;
}

.additionalInfo {
    padding: 10px;
    color: #FFFFFF;
}
